<%- include('./component/header'); -%>
<%- include('./component/navigation'); -%>
<section class="vh-100 bg-image" style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="card" style="border-radius: 15px;">
              <div class="card-body p-5">
                <h2 class="text-uppercase text-center mb-2">Create an account</h2>

                <% if (status.code === 400) { %>
                    <ol>
                        <% for( let index = 0; index < status.messages.length; index++ ) { %>
                            <li class="alert alert-danger" role="alert"> <%- status.messages[index]; %> </li>
                        <% } %>
                    </ol>
                <% } else if (status.code === 200) { %>
                    <li class="alert alert-success" role="alert"> <%- status.messages[0]; %> </li>
                <% } %>

                <form method="POST" action="/user/register">
                  <div class="form-outline mb-2">
                    <label class="form-label" for="form3Example1cg">First Name</label>

                    <input value="<%= formData.firstName %>"  required name="firstName" type="text" id="form3Example1cg" class="form-control form-control-lg" />
                  </div>

                  <div class="form-outline mb-2">
                    <label class="form-label" for="form3Example1cg">Last Name</label>

                    <input value='<%= formData.lastName %>' required name="lastName" type="text" id="form3Example1cg" class="form-control form-control-lg" />
                  </div>
  
                  <div class="form-outline mb-2">
                    <label class="form-label" for="form3Example3cg">Your Email</label>

                    <input value='<%= formData.email %>' name="email" required type="email" id="form3Example3cg" class="form-control form-control-lg" />
                  </div>
  
                  <div class="form-outline mb-2">
                    <label class="form-label" for="form3Example4cg">Password</label>

                    <input value='<%= formData.password %>' name="password" required type="password" id="form3Example4cg" class="form-control form-control-lg" />
                  </div>
  
                  <div class="form-outline mb-2">
                    <label class="form-label" for="form3Example4cdg">Repeat your password</label>

                    <input value='<%= formData.repassword %>' name="repassword" required type="password" id="form3Example4cdg" class="form-control form-control-lg" />
                  </div>
  
                  <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Register</button>
                  </div>
  
                  <p class="text-center text-muted mt-2 mb-0">Have already an account? <a href="//<%= siteUrl %>/user/login" class="fw-bold text-body"><u>Login here</u></a></p>
  
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<%- include('./component/footer'); -%>
